$defaultButtonBackground : rgba(15, 10, 222, 1);
$logoutButtonBackground : red;

.button {
    padding: 15px 30px;
    color: white;
    background-color: $defaultButtonBackground;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    &:hover {
        opacity: 0.5;
    }
}

.button-logout {
    background-color:$logoutButtonBackground;
}