$defaultButtonBackground : rgba(15, 10, 222, 1);
$logoutButtonBackground : red;

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}

.content {
    display: flex;
    flex-direction: column;
}

.button {
    padding: 15px 30px;
    color: white;
    background-color: $defaultButtonBackground;
    border: none;
    border-radius: 8px;
    font-size: 16px;

    &:hover {
        opacity: 0.5;
    }
}

h1 {
    font-size: 50px;
}

p {
    font-size: 16px;
    color: black;
}

.pagination__button {
    cursor: pointer;
    margin: 0 1px;
    font-size: 15px;
    color: white;
    background: #3c948b;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;

    &.disabled {
        background: #ccc;
        cursor: not-allowed;
    }

    &:hover {
        background: #0056b3;
    }
}

.button-logout {
    background-color: $logoutButtonBackground;
}