.single-show {
    display: flex;

    & .single-show__card {
        width: 20%;
        margin-right: 100px;

        & * {
            width: 100%;
        }
    }

    & .single-show__text {
        width: 20%;
    }
}

.signle-show__name {
    margin-bottom: 60px;
}